# =========================
# IDE & Editor
# =========================
.idea/
.vscode/

# =========================
# Operating system
# =========================
.DS_Store
Thumbs.db

# =========================
# WordPress (SECURITY)
# =========================
wp-config.php

# =========================
# Node / build (če pride kasneje)
# =========================
node_modules/
dist/

# =========================
# Logs & temp
# =========================
*.log